/* VARIABLES */
:root{
    --colorPrincipal: #1a93ae;
    --colorSecundario: #fb9e53;
    --colorAuxiliar: #ffffff;
    --colorRojo:rgb(119, 46, 46);
    --colorPrincipalHover:#054d5d;
}

/* background corporativos o personalizados */
.bg-principal{
    background-color: var(--colorPrincipal) !important;
    color: var(--colorAuxiliar) !important;
}

.bg-danger{
    background-color: var(--colorRojo) !important;
    color: var(--colorAuxiliar) !important;
}


/* botones */
.btn-principal{
    background-color: var(--colorPrincipal) !important;
    color: var(--colorAuxiliar) !important;
}

.btn-principal:hover{
    background-color: var(--colorPrincipalHover) !important;
    color: var(--colorAuxiliar) !important;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

.dropdown-toggle::after{
    display: none !important;
}

ul, ol{
    padding:0;
    list-style: none;
    text-decoration: none;
}

/* !slider  */

.jd-slider{
    position: relative;
}

.jd-slider .controller{
    background: rgba(0,0,0,.1);
    position:  absolute;
    bottom: 0px;
    left: 0px;
}

.jd-slider .controller .indicate-area a:after {
    border: 0 !important;
    background-color: #eee !important;
    box-shadow: 0px 0px 5px black;
    width: 10px;
    height: 10px;
} 


.jd-slider .controller .indicate-area a.on:after {
    border: 0 !important;
    background-color: #fff !important;
}

.slide-area li{
    position:  relative;
}

.opt1 img, .opt2 img{
    position:absolute;
}

.opt1 .slideText{
    position:absolute;
}

.opt2 .slideText{
    position:absolute;
    text-align:right;
}

.slideOpt h1{   
    font-family: 'Ubuntu Condensed', sans-serif;
}

.slideOpt h2{
    font-family: 'Ubuntu Condensed', sans-serif;
}

.slideOpt h3{

    font-family: 'Ubuntu Condensed', sans-serif;

}

/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width:1199px) and (min-width:992px){

   .slideOpt h1{           
        font-size:35px; 
        margin-top:5px;
    }
 
   .slideOpt h2{           
        font-size:30px; 
    }

   .slideOpt h3{   
        font-size:20px; 
    }

   .slideOpt button{
        padding:10px;
    }   

}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px){
   .slideOpt h1{           
        font-size:25px; 
        margin-top:5px;
    }

   .slideOpt h2{           
        font-size:20px; 
    }

   .slideOpt h3{   
        font-size:15px; 
    }

   .slideOpt button{
        padding:5px;
    }   

}

/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width:767px){
   .slideOpt h1{           
        font-size:15px; 
        margin-top:5px;
        margin-bottom:-20px;
    }

   .slideOpt h2{           
        display:none;   
    }

   .slideOpt h3{   
        font-size:10px; 
        margin-top:25px;
    }

   .slideOpt button{
        padding:5px;
        font-size:10px;
    }   

}


/*=============================================
footer
=============================================*/

a.templateColor{
    color: var(--colorPrincipal);
}

.footer li a{
    color:#fff !important;
}

.footer li a:hover{
    color:var(--colorPrincipal) !important;
}


/*=============================================
login-page y register-page
=============================================*/

.login-page, .register-page{
    height: 70vh !important;
}



/*=============================================
Menu navegación administrativo - link active
=============================================*/
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: var(--colorPrincipal) !important;
    color: #fff;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:hover {
    background-color: var(--colorPrincipal) !important;
    color: #fff;
}